# Python specific
/venv
__pycache__
*.egg-info

# Build outpt
/build/
/dist/
*.exe

# IDE Specific
/.idea/
/.vscode/

# Test output
tests/results
downloads
Downloads
music
Music
archive.txt
log.txt
batch.txt
*.opus
*.m4a
*.mp3
*.flac
*.wav
*.part

# Other
ytmusicdl_original.py