altgraph==0.17.3
Brotli==1.0.9
certifi==2022.9.24
charset-normalizer==2.1.1
future==0.18.2
idna==3.4
music-tag==0.4.3
mutagen==1.46.0
pefile==2022.5.30
Pillow==9.3.0
pycryptodomex==3.15.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
pywin32-ctypes==0.2.0
requests==2.28.1
urllib3==1.26.12
websockets==10.4
yt-dlp==2022.11.11
ytmusicapi==0.24.0
